:root {
  --primary-color: #13005A;
  --secondary-color: #00337C;
  --tertiary-color: #1C82AD;
  /* --accent-color: #03C988; */
  --accent-color: #3ed0c5;
  --font-color:  rgba(83, 68, 68, 0.719);

}

body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  text-align: center;
  font-size: 16px;
}

.containerr {
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* background-color: red; */
}

.main-navigation {
  /* background-color: #3498db; */
  /* padding: 10px 0; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 4rem;

}
.navbar > div.title > a {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 1.1rem;
  /* text-align: center; */
  display: flex;
  /* gap: 1rem; */
}
div.title, ul > li  {
  padding-top: 0.3rem;
}
div.title {
  padding-top: 0.85rem;
}
.brand {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.logo-icon {
  height: 2rem;
}
.navbar-toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--font-color);
}

.menu {
  display: flex;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  /* background-color: white; */
}

.nav-list li {
  margin-right: 20px;
  margin-top: 10px;
}

.nav-list a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: var(--font-color);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--accent-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  /* color: var(--font-color); */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: var(--accent-color);
}
.logout-button {
  background-color: var(--accent-color);
  border: none;
  width: 6.5rem;
  font-size: 1.3rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  /* height: 2.8rem; */
}
.logout-button.lg-button {
  color: white;
}
.logout-button > .lg-button {
  color: white;
}
/* .navbarr {
  padding: 10px; 
} */



.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 L 0,75 C 74.7431885125184,82.50957290132548 149.4863770250368,90.01914580265097 210,94 C 270.5136229749632,97.98085419734903 316.7976804123711,98.43298969072164 376,88 C 435.2023195876289,77.56701030927836 507.3229013254787,56.248895434462455 573,57 C 638.6770986745213,57.751104565537545 697.9107142857143,80.57142857142857 750,80 C 802.0892857142857,79.42857142857143 847.0342415316642,55.46539027982327 904,41 C 960.9657584683358,26.534609720176732 1029.9523195876288,21.567010309278345 1094,38 C 1158.0476804123712,54.432989690721655 1217.1564801178204,92.26656848306332 1274,102 C 1330.8435198821796,111.73343151693668 1385.42175994109,93.36671575846833 1440,75 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,75 C 76.90555964653905,80.95765832106038 153.8111192930781,86.91531664212076 213,83 C 272.1888807069219,79.08468335787924 313.6610824742268,65.29639175257734 371,63 C 428.3389175257732,60.70360824742267 501.5445508100147,69.89911634756996 560,73 C 618.4554491899853,76.10088365243004 662.1607142857143,73.10714285714286 717,84 C 771.8392857142857,94.89285714285714 837.8125920471281,119.67231222385863 898,109 C 958.1874079528719,98.32768777614137 1012.5889175257732,52.203608247422686 1079,38 C 1145.4110824742268,23.796391752577314 1223.831737849779,41.51325478645066 1286,53 C 1348.168262150221,64.48674521354934 1394.0841310751105,69.74337260677467 1440,75 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,75 C 69.33192194403536,70.90463917525773 138.66384388807072,66.80927835051547 193,67 C 247.33615611192928,67.19072164948453 286.67654639175254,71.66752577319588 346,73 C 405.32345360824746,74.33247422680412 484.62997054491893,72.52061855670102 547,78 C 609.3700294550811,83.47938144329898 654.8035714285716,96.25 711,91 C 767.1964285714284,85.75 834.1557437407953,62.47938144329897 889,55 C 943.8442562592047,47.52061855670103 986.5734536082475,55.83247422680411 1048,66 C 1109.4265463917525,76.16752577319589 1189.5504418262149,88.19072164948454 1258,90 C 1326.4495581737851,91.80927835051546 1383.2247790868926,83.40463917525773 1440,75 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,75 C 77.4810382916053,67.38420471281296 154.9620765832106,59.76840942562592 209,68 C 263.0379234167894,76.23159057437408 293.6327319587628,100.31056701030928 346,95 C 398.3672680412372,89.68943298969072 472.5069955817379,54.98932253313696 540,55 C 607.4930044182621,55.01067746686304 668.3392857142858,89.73214285714286 722,90 C 775.6607142857142,90.26785714285714 822.1358615611193,56.082106038291606 885,42 C 947.8641384388807,27.917893961708394 1027.117268041237,33.93943298969072 1096,43 C 1164.882731958763,52.06056701030928 1223.3950662739323,64.16016200294551 1279,70 C 1334.6049337260677,75.83983799705449 1387.3024668630337,75.41991899852724 1440,75 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,75 C 74.7431885125184,82.50957290132548 149.4863770250368,90.01914580265097 210,94 C 270.5136229749632,97.98085419734903 316.7976804123711,98.43298969072164 376,88 C 435.2023195876289,77.56701030927836 507.3229013254787,56.248895434462455 573,57 C 638.6770986745213,57.751104565537545 697.9107142857143,80.57142857142857 750,80 C 802.0892857142857,79.42857142857143 847.0342415316642,55.46539027982327 904,41 C 960.9657584683358,26.534609720176732 1029.9523195876288,21.567010309278345 1094,38 C 1158.0476804123712,54.432989690721655 1217.1564801178204,92.26656848306332 1274,102 C 1330.8435198821796,111.73343151693668 1385.42175994109,93.36671575846833 1440,75 L 1440,400 L 0,400 Z");
  }
}
.path-1{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,400 L 0,175 C 47.3159057437408,183.91550073637703 94.6318114874816,192.83100147275405 149,179 C 203.3681885125184,165.16899852724595 264.7886597938144,128.59149484536084 340,139 C 415.2113402061856,149.40850515463916 504.2135493372608,206.80301914580266 559,208 C 613.7864506627392,209.19698085419734 634.3571428571429,154.19642857142856 696,141 C 757.6428571428571,127.80357142857143 860.3578792341679,156.41126656848306 924,161 C 987.6421207658321,165.58873343151694 1012.2113402061855,146.1585051546392 1065,139 C 1117.7886597938145,131.8414948453608 1198.79675994109,136.95471281296025 1266,145 C 1333.20324005891,153.04528718703975 1386.601620029455,164.0226435935199 1440,175 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,175 C 68.69053755522827,187.92728276877762 137.38107511045655,200.85456553755526 189,196 C 240.61892488954345,191.14543446244474 275.166237113402,168.5090206185567 338,169 C 400.833762886598,169.4909793814433 491.95397643593515,193.10935198821798 566,197 C 640.0460235640649,200.89064801178202 697.0178571428571,185.05357142857142 750,169 C 802.9821428571429,152.94642857142858 851.9745949926363,136.67636229749633 907,147 C 962.0254050073637,157.32363770250367 1023.0837628865979,194.24097938144325 1087,196 C 1150.916237113402,197.75902061855675 1217.6903534609721,164.35972017673052 1277,155 C 1336.3096465390279,145.64027982326948 1388.154823269514,160.32013991163473 1440,175 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,175 C 69.66365979381445,189.21851988217966 139.3273195876289,203.43703976435933 200,210 C 260.6726804123711,216.56296023564067 312.35438144329896,215.47036082474227 372,199 C 431.64561855670104,182.52963917525773 499.2551546391753,150.68151693667158 551,158 C 602.7448453608247,165.31848306332842 638.6250000000001,211.80357142857144 687,210 C 735.3749999999999,208.19642857142856 796.2448453608246,158.1041973490427 867,147 C 937.7551546391754,135.8958026509573 1018.395618556701,163.77963917525773 1084,169 C 1149.604381443299,174.22036082474227 1200.1726804123712,156.77724594992637 1257,154 C 1313.8273195876288,151.22275405007363 1376.9136597938145,163.1113770250368 1440,175 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,175 C 48.73435198821798,176.58247422680412 97.46870397643596,178.16494845360825 162,186 C 226.53129602356404,193.83505154639175 306.85953608247416,207.92268041237114 364,202 C 421.14046391752584,196.07731958762886 455.0931516936673,170.1443298969072 515,172 C 574.9068483063327,173.8556701030928 660.7678571428571,203.49999999999997 731,199 C 801.2321428571429,194.50000000000003 855.8354197349043,155.8556701030928 909,151 C 962.1645802650957,146.1443298969072 1013.8904639175257,175.07731958762886 1078,190 C 1142.1095360824743,204.92268041237114 1218.6027245949927,205.83505154639175 1281,201 C 1343.3972754050073,196.16494845360825 1391.6986377025037,185.58247422680412 1440,175 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,175 C 47.3159057437408,183.91550073637703 94.6318114874816,192.83100147275405 149,179 C 203.3681885125184,165.16899852724595 264.7886597938144,128.59149484536084 340,139 C 415.2113402061856,149.40850515463916 504.2135493372608,206.80301914580266 559,208 C 613.7864506627392,209.19698085419734 634.3571428571429,154.19642857142856 696,141 C 757.6428571428571,127.80357142857143 860.3578792341679,156.41126656848306 924,161 C 987.6421207658321,165.58873343151694 1012.2113402061855,146.1585051546392 1065,139 C 1117.7886597938145,131.8414948453608 1198.79675994109,136.95471281296025 1266,145 C 1333.20324005891,153.04528718703975 1386.601620029455,164.0226435935199 1440,175 L 1440,400 L 0,400 Z");
  }
}
  .path-2{
  animation:pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
  0%{
    d: path("M 0,400 L 0,275 C 63.77264359351989,275.27871870397644 127.54528718703978,275.5574374079529 192,277 C 256.4547128129602,278.4425625920471 321.5914948453607,281.04896907216494 372,281 C 422.4085051546393,280.95103092783506 458.08873343151697,278.2466863033873 506,280 C 553.911266568483,281.7533136966127 614.0535714285713,287.9642857142857 694,285 C 773.9464285714287,282.0357142857143 873.6969808541975,269.89617083946973 932,259 C 990.3030191458025,248.10382916053024 1007.1585051546392,238.45103092783506 1060,247 C 1112.8414948453608,255.54896907216494 1201.668998527246,282.29970544918996 1271,290 C 1340.331001472754,297.70029455081004 1390.165500736377,286.350147275405 1440,275 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,275 C 53.14175257731959,260.59407216494844 106.28350515463919,246.18814432989694 171,255 C 235.7164948453608,263.81185567010306 312.00773195876286,295.84149484536084 371,296 C 429.99226804123714,296.15850515463916 471.68556701030934,264.44587628865986 536,251 C 600.3144329896907,237.55412371134017 687.25,242.375 742,257 C 796.75,271.625 819.3144329896907,296.0541237113402 880,299 C 940.6855670103093,301.9458762886598 1039.492268041237,283.40850515463916 1102,283 C 1164.507731958763,282.59149484536084 1190.7164948453608,300.3118556701031 1241,302 C 1291.2835051546392,303.6881443298969 1365.6417525773195,289.34407216494844 1440,275 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,275 C 71.82989690721652,265.40316642120763 143.65979381443304,255.80633284241532 211,256 C 278.34020618556696,256.1936671575847 341.1907216494845,266.17783505154637 388,272 C 434.8092783505155,277.82216494845363 465.57731958762895,279.4823269513991 515,285 C 564.422680412371,290.5176730486009 632.5000000000001,299.89285714285717 691,293 C 749.4999999999999,286.10714285714283 798.422680412371,262.94624447717223 869,268 C 939.577319587629,273.05375552282777 1031.8092783505153,306.3221649484537 1107,301 C 1182.1907216494847,295.6778350515463 1240.340206185567,251.76509572901324 1293,241 C 1345.659793814433,230.23490427098676 1392.8298969072166,252.61745213549338 1440,275 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,275 C 57.636597938144334,264.6973490427099 115.27319587628867,254.39469808541975 169,261 C 222.72680412371133,267.60530191458025 272.5438144329897,291.1185567010309 337,296 C 401.4561855670103,300.8814432989691 480.5515463917526,287.13107511045655 552,282 C 623.4484536082474,276.86892488954345 687.25,280.3571428571429 745,286 C 802.75,291.6428571428571 854.4484536082473,299.440353460972 909,302 C 963.5515463917527,304.559646539028 1020.9561855670104,301.88144329896903 1086,303 C 1151.0438144329896,304.11855670103097 1223.7268041237114,309.0338733431517 1284,305 C 1344.2731958762886,300.9661266568483 1392.1365979381444,287.9830633284241 1440,275 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,275 C 63.77264359351989,275.27871870397644 127.54528718703978,275.5574374079529 192,277 C 256.4547128129602,278.4425625920471 321.5914948453607,281.04896907216494 372,281 C 422.4085051546393,280.95103092783506 458.08873343151697,278.2466863033873 506,280 C 553.911266568483,281.7533136966127 614.0535714285713,287.9642857142857 694,285 C 773.9464285714287,282.0357142857143 873.6969808541975,269.89617083946973 932,259 C 990.3030191458025,248.10382916053024 1007.1585051546392,238.45103092783506 1060,247 C 1112.8414948453608,255.54896907216494 1201.668998527246,282.29970544918996 1271,290 C 1340.331001472754,297.70029455081004 1390.165500736377,286.350147275405 1440,275 L 1440,400 L 0,400 Z");
  }
}
@media screen and (min-width: 1000px) {
  .path-0 {
      display: none;
  }
}
